# General
.git
.gitignore
.dockerignore
.DS_Store
*.log
*.iml
.idea
.vscode

# Build artifacts
build/
dist/
out/
.gradle/
node_modules/

# Environments
.env
.env.local

# GitHub Actions
.github/

# Mac-specific clutter
__MACOSX/
