# Cypress artifacts
node_modules/
cypress/screenshots/
cypress/videos/
cypress/downloads/
cypress/reports/
cypress/.cache/
cypress/screenshots/
.screenshots
.videos/
screenshots/
videos/
downloads/
reports/
.cache/
